/* LandingPage.css */
#about,
#work,
#projects,
#contact {
  min-height: 70vh;
}

.fixed-icons {
  position: fixed;
  left: 20px; /* Adjust as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between icons */
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}
