/* SocialMediaIcons.css */
.social-media-icons {
  position: fixed;

  left: 30px; /* Adjust as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between icons */
}

.social-media-icons a {
  color: #f2f2f8; /* Change the color as needed */
  text-decoration: none;
  font-size: 28px;
}

.social-media-icons a:hover {
  color: #457b9d; /* Example hover color for LinkedIn */
}

.social-media-icons {
  z-index: 1000; /* Ensure this is higher than other elements */
}
